@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --padding: 35px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-thumb {
  background-color: #178a1b;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #141414;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#logs {
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 10px var(--padding);
  color: lightgray;
  overflow-y: auto;
  transition-property: opacity;
  transition-duration: 0.5s;
  grid-area: logs;
  font-size: 0.8rem;
}

#logs > span {
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.8rem;
  white-space: pre-wrap;
}

.hidden {
  display: none;
  grid-area: unset;
}

#hide-logs,
#clear-logs,
.download-button {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  appearance: none;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
  max-width: 300px;
}

#hide-logs:hover,
#clear-logs:hover,
.download-button:hover {
  background-color: #333;
}

#logs::-webkit-scrollbar-thumb {
  background-color: rgb(46, 46, 46);
  border-radius: 5px;
}

#logs::-webkit-scrollbar-track {
  background-color: black;
}

body {
  height: 100svh;
  display: grid;

  grid-template-rows: 1fr 15svh;

  grid-template-areas:
    'main'
    'logs';

  place-items: center;

  background-color: #121212;
  color: white;
  overflow-x: hidden;
}

#categories {
  width: 100%;
  max-height: 400px;
}

body > main {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 20svh 1fr;

  grid-template-areas: 'scrape-form buttons' 'app buttons';

  height: 100%;
  width: 100%;
  place-items: center;
  overflow-x: hidden;
  grid-area: main;
}

body > main > * {
  padding: var(--padding);
}

.logs-hidden {
  grid-template-rows: auto;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 1600px;
  grid-area: app;
  overflow: auto;
}

#scrape-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-area: scrape-form;
}

#skrape {
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 400px;
  font-size: 2rem;
  padding: 10px;
  font-style: italic;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 900;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border: none;

  background: linear-gradient(255deg, #3f005a, #4cb9ed, #178a1b, #1db954);
  background-size: 240% 240%;
  animation:
    gradient-animation 30s ease infinite,
    pulse 1.5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

#category-button {
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#skrape:disabled,
.download-button:disabled,
#category-button:disabled {
  cursor: not-allowed;
  background: #333;
  animation: none;
  opacity: 25%;
}

#skrape:hover:not(:disabled) {
  background-color: #1db954;
}

#category-button:hover:not(:disabled) {
  background-color: rgb(64, 62, 71);
}

#button-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  grid-area: buttons;
}

#results-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap: 25px;
  list-style: none;
  padding-block: var(--padding);
}

a {
  text-decoration: none;
}

#categories-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--padding);
  gap: 20px;
  background-color: #1c1c1e;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  height: 100%;
}

#categories-title{
  font-size: 0.875rem;
  font-weight: 600;
}

#categories-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  gap: 10px;
  padding-right: 20px;
  position: relative;
}

#categories-list-overlay {
  position: absolute;
  background: linear-gradient(180deg, rgba(28, 28, 30, 0) 0%, #1c1c1e 100%);
  width: 100%;
  height: 100%;
}

#categories-list label {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #2c2c2e;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s;
  cursor: pointer;
}

#categories-list label span {
  font-size: smaller;
}

#categories-list label:hover {
  background-color: #3a3a3d;
}

#categories-list label:has(input:checked) {
  background: #178a1b;
}

#categories-list input[type='checkbox'] {
  width: 20px;
  height: 20px;
  accent-color: #178a1b;
  cursor: pointer;
  border-radius: 10px;
}

#categories-list span {
  font-size: 16px;
  color: #e0e0e0;
}

#categories-info {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  text-align: center;
  flex-wrap: wrap;

  #selected-badge {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 5px 10px;
    border-radius: 5px;
  }
  #selected-count {
    font-size: small;
    color: gray;
  }
}

#toggle-all-btn,
#clear-selection-btn {
  max-width: fit-content;
  display: inline-block;
  padding: 10px 20px;
  background-color: #178a1b;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: smaller;
  transition: background-color 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#clear-selection-btn {
  background-color: crimson;
}

#search-input,
#zipcode-input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: small;
  background-color: #0e0e0e;
  color: white;
}

#zipcode-input {
  max-width: 200px;
}

#toggle-all-btn:hover {
  background-color: #1db954;
}

.result-item {
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
  border-radius: 8px;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.result-item:hover {
  transform: translateY(-3px);
}

.product-image-container {
  overflow: hidden;
  height: 150px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  padding: calc(var(--padding) / 2);
  text-align: left;
}

.product-info h4 {
  margin-bottom: 0.75rem;
  color: #1db954;
  font-weight: 600;
  font-size: 1.125rem;
}

.product-info p {
  margin-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
  &.store-name {
    font-size: 0.875rem;
    color: #43b1c7;
  }
  &.id {
    font-size: 0.75rem;
    color: #868181;
  }
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.original-price {
  color: #999;
  font-size: 0.875rem;
  margin-left: 10px;
}

.discount {
  color: #1db954;
  font-size: 1.25rem;
  margin-left: 10px;
}

.ending {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.875rem;
  margin-top: 10px;
}

.ultima {
  background-color: red;
  color: white;
}

.segunda {
  background-color: yellow;
  color: black;
}

.primera {
  background-color: green;
  color: white;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#server-select,
#store-select {
  max-width: 200px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: small;
  background-color: #0e0e0e;
  color: white;

  &:disabled {
    color: grey;
    cursor: not-allowed;
  }
}

@media (max-width: 768px) {
  #results-list {
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  }

  .product-image-container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .product-info h4 {
    font-size: 1rem;
  }

  .product-info p,
  .product-info p.store-name,
  .product-info p.id {
    font-size: 0.8rem;
  }

  .price {
    font-size: 1.25rem;
  }

  .original-price {
    font-size: 0.75rem;
  }

  .discount {
    font-size: 1rem;
  }

  .ending {
    font-size: 0.75rem;
  }

  #scrape-form {
    flex-direction: column;
  }
  #button-section {
    flex-direction: row;
  }

  .inputs-container {
    flex-direction: row;
  }

  :root {
    --padding: 20px;
  }

  #logs span,
  #logs {
    font-size: 0.6rem;
  }

  body > main {
    grid-template-rows: 1fr 2fr auto;
    grid-template-columns: auto;
    grid-template-areas:
      'scrape-form'
      'app'
      'buttons';
  }

  body {
    grid-template-rows: 1fr 10svh;
  }
}
